
<div class="banner" style="background-image: url(http://www.campinglhermitage.com/usermedia/photo-635634171197068021-1.jpg?dummy=0&h=800);">
  <div class="banner-content wrapper_index">
    <h1>AirBnBeauf ma gueule</h1>
    <h3>ou ess kon va keskon fé</h3>
    <form action="" class="form-inline" method="GET">
      <input name="city" type="text" class="form-control input-lg searchbar" placeholder="ou ess kon va">
      <input name="begin_date" type="date" class="form-control input-lg searchbar" placeholder="jariv">
      <input name="end_date" type="date" class="form-control input-lg searchbar" placeholder="jpar">
      <select name="" id="" class="form-control input-lg searchbar">
        <option value="1">1 kop1</option>
        <option value="2">2 kop1</option>
        <option value="3">3 kop1</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg searchbar" value="va cherché">
    </form>
  </div>
</div>

<div class="background-image">
<br>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-xs-4">

    <div class="card-img-top" style="background: url('<%= image_path product.picture %>') no-repeat center center;background-size:cover;">
      <div class="img-hover"></div>
      <p class="title-card"><%= product.city %></p>
      <p class="product-name"><%= product.name %></p>
    </div>
  <div class="card-block">
    <p class="card-title"><%= product.description %></p>
    <p class="card-text"><%= link_to "Voir plus", product_path(product), class: "btn btn-default", id: "btn-voir" %></p>
    </div>
  </div>

  <% end %>
</div>
<br>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      $(".card-img-top").hover(function(){
      $(this).find(".img-hover").css('display', 'block');
      console.log("putin");
      }, function() {
       $(this).find(".img-hover").css('display', 'none');
      });
    });
  <% end %>
<% end %>
