<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://lillibulle.typepad.com/.a/6a00d83451d8bb69e2019affd37c39970d-pi);">
    <div class="banner-content">
        <h1>AirBnBeauf ma gueule</h1>
        <h3>ou ess kon va keskon fé</h3>
        <form action="" class="form-inline" method="GET">
            <input name="city" type="text" class="form-control input-lg searchbar" placeholder="ou ess kon va">
            <input name="begin_date" type="date" class="form-control input-lg searchbar" placeholder="jariv">
            <input name="end_date" type="date" class="form-control input-lg searchbar" placeholder="jpar">
            <select name="" id="" class="form-control input-lg searchbar">
                <option value="1">1 kop1</option>
                <option value="2">2 kop1</option>
                <option value="3">3 kop1</option>
            </select>
            <input type="submit" class="btn btn-primary btn-lg searchbar" value="va cherché">
        </form>
    </div>
</div>

<div class="row">
  <div class="col-xs12 col-md-offset-2 col-md-6">
  <% @products.each do |product| %>
    <div class="card" style="background-image: url('<%= image_path product.picture %>');">
      <div class="card-category"><%= product.city %></div>
      <div class="card-description">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
      </div>
      <%= link_to "Voir plus", "products/#{product.id}.html", class: "card-link" %>
    </div>
    <% end %>
  </div>

  <div class="col-md-12 col-xs-12">
    <div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
</div>

